.bundle
.jekyll-cache
.jekyll-metadata
.sass-cache
_data/navigation.yml
_github_api_cache
_pages/about/editorial-guidelines.md
_pages/about/technical-documentation.md
_pages/projects
_pages/scores
_site
__pycache__
vendor
pat.py
read_metadata.py
instrument_data.csv
settings.json
all_works.pickle
