.bundle
.jekyll-cache
.jekyll-metadata
.sass-cache
_data
_github_api_cache/redirects.sqlite
_pages/about/editorial-guidelines.md
_pages/about/technical-documentation.md
_pages/projects
_pages/scores
_site
__pycache__
vendor
pat.py
