---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: rgb(212, 0, 0) ;
$primary-color: rgb(212, 0, 0);

$sans-serif: "Source Sans Pro", sans-serif;
$monospace: "Fira Code", monospace;

// syntax highlighting colors
$base00: #282936;
$base01: #3a3c4e;
$base02: #4d4f68;
$base03: #626483;
$base04: #62d6e8;
$base05: #e9e9f4;
$base06: #f1f2f8;
$base07: #f7f7fb;
$base08: #ea51b2;
$base09: #b45bcf;
$base0a: #00f769;
$base0b: #ebff87;
$base0c: #a1efe4;
$base0d: #62d6e8;
$base0e: #b45bcf;
$base0f: #00f769;


// import default settings from the theme
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// navigation sidebar (left)
.nav__sub-title {
  color: $primary-color;
}

// toc sidebar (right)
.toc .nav__title {
  background: rgb(191, 191, 191);
}

.toc .active a {
  background-color: rgb(245, 245, 245);
}

// catalogue of works number in work title
.work-subtitle {
  font-weight: 400;
}

// work details on composer page
table.work-table {
  font-size: .85em;
}

table.work-table a {
  text-decoration: none;
}

table.work-table td {
  border: 0;
  padding: 0 .5em;
  vertical-align: top;
}

.label-col {
  font-style: italic;
  white-space: nowrap;
}

.asset-link {
  margin-right: .4em;
}

.asset-link.full-score {
  font-weight: 700;
}

// overview table on project page
table.overview-table {
  font-size: .85em;
}

table.overview-table thead {
  background-color: white;
  border: 0;
}

table.overview-table th {
  border: 0;
  padding: 0em 1em 0em 0.5em;
}

table.overview-table td {
  border: 0;
  padding: 0em 1em 0em 0.5em;
}

table.overview-table a {
  text-decoration: none;
}


// datatable
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("/assets/images/datatable/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("/assets/images/datatable/sort_asc.png") !important;
}
table.dataTable thead .sorting_desc {
  background-image: url("/assets/images/datatable/sort_desc.png") !important;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/assets/images/datatable/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/assets/images/datatable/sort_desc_disabled.png");
}
table.dataTable tbody tr.odd {
  background-color: #f9f9f9;
}

.dataTables_wrapper .dataTables_filter input {
  border-radius: 5px;
  box-shadow: none;
  padding: 5px;
  background-color: #f9f9f9;
  margin-left: 3px;
}



// LilyPond syntax theme
@import "lilypond-syntax";
