---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: rgb(212, 0, 0) ;
$primary-color: rgb(212, 0, 0);

$sans-serif: "Source Sans Pro", sans-serif;
$monospace: "Fira Code", monospace;

$base00: #282936;
$base01: #3a3c4e;
$base02: #4d4f68;
$base03: #626483;
$base04: #62d6e8;
$base05: #e9e9f4;
$base06: #f1f2f8;
$base07: #f7f7fb;
$base08: #ea51b2;
$base09: #b45bcf;
$base0a: #00f769;
$base0b: #ebff87;
$base0c: #a1efe4;
$base0d: #62d6e8;
$base0e: #b45bcf;
$base0f: #00f769;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.nav__sub-title {
  color: $primary-color;
}

table.work-table {
  font-size: .85em;
}

table.work-table a {
  text-decoration: none;
}

table.work-table td {
  border: 0;
  padding: 0 .5em;
  vertical-align: top;
}

.work-id {
  font-weight: 400;
}

.label-col {
  font-style: italic;
  white-space: nowrap;
}

.asset-link {
  margin-right: .4em;
}

.toc .nav__title {
  background: rgb(191, 191, 191);
}

.toc .active a {
  background-color: rgb(245, 245, 245);
}

@import "lilypond-syntax";
