---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// $body-color
// $background-color
// $text-color
$link-color: rgb(212, 0, 0) ;
// $masthead-link-color: blue;
$primary-color: rgb(212, 0, 0);

// $serif      : Georgia, Times, serif;
$sans-serif: "Source Sans Pro", sans-serif;
// $monospace  : Monaco, Consolas, "Lucida Console", monospace;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
